
# Файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
venv/
venv.bak/
.venv/

# Файлы окружения (с секретами)
.env
.env.*

# Специфичные для IDE
.vscode/
.idea/

# Файлы сборки и дистрибуции
/dist/
/build/
*.egg-info/

# Логи
*.log